.tekstdecor {
    font-size: 78px;
    font-style: normal;
    font-weight: 600;
    line-height: 80px;
    text-transform: uppercase;
    background: var(--Linear, linear-gradient(115deg, #fff 19.49%, rgba(255, 255, 255, 0) 98.47%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}